<!DOCTYPE html>
<html lang="en" 
      xmlns:v-bind="http://www.w3.org/1999/xhtml" 
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <input type="text" v-model="username" placeholder="login_placeholder">
        <br/>
        <input type="password" v-model="password" placeholder="login_placeholder">
        <br/>
        <button v-on:click="signIn()">Sign In</button>
    </div>
    <script src="index.js"></script>
</body>
</html>